.app-container__bg::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 120px;
  background-color: #0D47A1;
}

.app-container__fg {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(100, 100, 100, 0.2);
  padding: 40px 0;
}

.app-container__layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.app-container__outlet {
  display: flex;
  background-color: white;
  width: 1200px;
  height: 100%;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0, .3);
}

.app-container__sidebar {
  width: 30%;
  height: 100%;
  background-color: #1976D2;
}

.app-container__content {
  width: 70%;
  height: 100%;
}

.app-container__sidebar-header,
.app-container__content-header {
  height: 80px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0, .2)
}

.app-container__sidebar-header {
  display: flex;
  align-items: center;
}

.app-container__content-body,
.app-container__sidebar-body {
  height: calc(100% - 160px);
}

.app-container__content-footer,
.app-container__sidebar-footer {
  height: 80px;
  width: 100%;
}

.app-container__content-footer {
  background-color: #F7F7F7;
  border-top: 1px solid #DDD;
}

.app-container__sidebar-footer {
  border-top: 1px solid #1565C0;
}
